$primary-color: #8fc5cd;
$secondary-color: #eeae0a;

body {
  background-color: black;
  margin: 0;
  font-family: 'Overpass', sans-serif;
  box-sizing: border-box;
}

/* Nav */

header {
  display: flex;
  justify-content: space-between;
}

nav {
  /* flex-grow: 1; */
  background-color: black;
  display: flex;
  justify-content: flex-start;
  max-height: 9rem;
}

nav a {
  text-decoration: none;
  color: white;
  width: 125px;
  text-align: center;
  padding: .5rem;
  margin: auto;
  border: 1px solid transparent;
}

nav a:hover {
  border: 1px solid $primary-color;
  padding: .5rem;
  text-align: center;
  width: 125px;
  margin: auto;
}

header img {
  opacity: 50%;
  width: 4rem;
  height: 4rem;
  padding: .3rem;
}

.burger {
  display: flex;
  flex-direction: space-around;
  flex-grow: 1; 
}

nav i.fas {
  display: none;
}

/* Main Header Section */

.main {
  background-image: url('img/highway.jpg');
  background-size: cover;
  background-attachment: fixed;
  height: 50rem;
  display: flex;
  align-items: flex-start;
}

.headline {
  width: 100%;
  height: 20%;
  padding: 1rem;
  margin-top: 5rem;
}

h1 {
  text-align: center;
  color: black;
  font-size: 48px;
}

h1 strong {
  font-weight: bold;
  border-bottom: 6px solid #8fc5cd;
}

.headline h2 {
  text-align: center;
  color: black;
  margin-bottom: 4rem;
  font-size: 36px;
}

/* Intro */

.intro {
  color: black;
  text-align: center;
  background-color: #8fc5cd;
  /* background-image: linear-gradient(#8fc5cd, black); */
  padding: 4rem;
}

.intro strong {
  color: black;
  font-weight: bold;
}

.pablo {
  color: black;
  margin-bottom: 2rem;
}

.quote { 
  color: black;
  text-align: center;
  font-family: 'Titan One', 'cursive';
  font-size: 50px;
  margin-bottom: 2rem;
}

/* Deploy */

.promo {
  display: flex;
  padding: 0 6rem;
  background-image: linear-gradient($primary-color, black);
  color: white;
}

.promo .column {
  flex: 1;
  padding: 0rem 1.5rem 2rem 1.5rem;
  text-align: center;
}

.promo .circle {
  width: 7rem;
  height: 7rem;
  margin: -3.5rem auto 2rem auto;
  background-color: $primary-color;
  border-radius: 3.5rem;
}

.promo h3 {
  margin-bottom: 1rem;
  color: $secondary-color;
  font-size: 1.6rem;
  font-weight: 900;
}

/* My Skills */

.skillbox {
  box-sizing: border-box;
  display: flex;
  padding: 1rem;
  height: 3.5rem;
  align-items: center;
  margin: 1rem;
}

.chart {
  background-image: linear-gradient(to right, #8fc5cd, black);
  height: 3.5rem;
  border-right: 1px solid white;
}

.chartlevel {
  background-image: linear-gradient(to right, #eeae0a, black);
  flex: 1;
  border: 1px solid white;
  height: 3.5rem;
  line-height: 3.5rem;
}

.skillinfo {
  padding-right: 5rem;
  margin-top: 1rem;
  width: 3rem;
}

.skillbox p {
  text-transform: uppercase;
  margin: 0 0 10px;
  padding: 0;
  letter-spacing: 1px;
}

.skills {
  background-color: black;
  padding: 1rem 3rem 3rem 1rem;
  padding-left: 3rem;
}

.skills h2 {
  color: white;
  font-size: 36px;
  margin-left: 2rem;
}

.label {
  color: white;
  margin: 0;
}

.numbers {
  color: #eeae0a;
}

/* My Portfolio */

.port {
  padding: 4rem 5rem 4rem 5rem;
  background-image: linear-gradient(black, #8fc5cd);
}

.port h2 {
  text-align: center;
  color: white;
  font-size: 36px;
}

.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: auto;
  width: 100%;
}

.framepage {
  background-image: url('img/highway.jpg');
  background-size: cover;
  background-position: center;
  height: 21rem;
  width: 21rem;
  margin: 1rem;
}

.border:hover {
  border: 2px solid white;
}

.frameinfo {
  background: rgba(0,0,0,0.2);
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  height: 21rem;
  width: 21rem;
}

.border {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  height: 21rem;
  width: 21rem;
  border: 2px solid transparent
}

.frameinfo p {
  font-weight: 900;
  color: #ffffff;
}

.frameinfo span {
  color: #cfcfcf;
  padding-top: 5px;
}

/* About Me */

.about {
  background-image: linear-gradient(#8fc5cd, white);
  padding: 4rem;
}

.about h2 {
  text-align: center;
  font-size: 36px;
}

.me {
  display: flex;
  justify-content: center;
  align-content: center;
}

.metext {
  width: 25%;
  height: 30%;
  margin-left: 5rem;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 1rem;
  border-radius: 3rem;
  margin-right: 2rem;
}

.meimg img {
  height: 20rem;
  width: 30rem;
  border-radius: 15rem;
  margin: 1rem;
}

/* Say hi */

.hi {
  background-color: white;
  text-align: center;
  padding: 4rem;
}

.hi i {
  font-size: 7rem;
}

.hi span {
  padding: 2rem;
}

/* Contact */

.formcontainer {
  display: flex;
  justify-content: center;
}

.inputs {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  margin-left: 5rem;
  margin-right: 2rem;
}

.inputs2 {
  margin-left: 2rem;
  display: flex;
  flex-flow: column wrap;
}

.inputs2 label {
  font-weight: lighter;
  color: gray;
  margin-bottom: .3rem;
}

.inputs2 button {
  background-color: #8fc5cd;
  border: none;
  padding: .5rem;
  margin-top: .2rem;
  font-size: 14px;
  font-weight: bold;
}

textarea {
  width: 20rem;
}

.inp {
  width: 10rem;
  background-color: black;
  border: none;
  margin: 1rem;
  font-size: 16px;
  color: white;
}

label {
  color: white;
}

.contact {
  background-color: black;
  padding: 4rem;
}

.contact h2 {
  color: white;
  text-align: center;
  font-size: 36px;
}

/* Talk Soon */

.talk {
  text-align: center;
  background-color: #8fc5cd;
  padding: 1rem;
}

.talk p {
  font-size: 14px;
}

.talk i {
  font-size: 4rem;
  color: rgba(0,0,0, 0.4);
}

.talk span {
  padding: 1rem;
}

/* Media Queries */

/*/ Mobile */

@media screen and (max-width: 800px) {
  
  /* NAV */

  .nav {
    text-align: center;
    display: flex;
    position: relative;
  }
  .burger {
    display: none;
    margin: 0;
    position: absolute;
    right: 0;
    top: -2rem;
  }
  .nav i.fas {
    display: flex;
    color: white;
    position: absolute;
    padding: 1rem;
    right: 1em;
    top: 1rem;
  }
  .nav:hover .burger {
    display: flex;
    flex-flow: column;
    min-height: 7rem;
    background-color: black;
    margin-top: 6.2rem;
  }

  /* PROMO */

  .promo {
    display: flex;
    flex-flow: row wrap;
  }
  
  .promo .circle {
    width: 7rem;
    height: .5rem;
    margin: 0 auto 2rem auto;
    background-color: black;
  }

  .promo span {
    color: black;
  }

  /* ABOUT ME */

  .me {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
  .metext {
    width: 100%;
    height: 30%;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 1rem;
    margin-right: 5rem;
    border-radius: 3rem;
  }
  .meimg img {
    height: 18rem;
    width: 23rem;
    border-radius: 15rem;
    margin: 1rem;
  }

  /* SAY HI */

  .hi span {
    padding: 0;
  }
  
  /* CONTACT */

  .formcontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .inputs {
    margin-bottom: 4rem;
  }

  textarea {
    width: 14.6rem;
  }
} 

/*

@media screen and (min-width: 800px) and (max width: 1200px )

*/